@import "vars";


.sidebar {
  position: fixed;
  width: 25%;
  height: 100vh;
  background: $point-dark;
  font-size: 0.65em;

  .nav {
    position: relative;
    margin: 0 15%;
    text-align: right;
    top: 50%;
    transform: translateY(-50%);
    font-weight: bold;
  }

  .nav ul {
    list-style: none;

    li {
      position: relative;
      margin: 3.2em 0;

      a {
        @media only screen and (max-height: 800px) {
          line-height: 1em;
        }

        @media only screen and (min-height: 800px) {
          line-height: 5em;
        }
        text-transform: uppercase;
        text-decoration: none;
        letter-spacing: 0.4em;
        color: rgba(#FFF, 0.45);
        display: block;
        transition: all ease-out 300ms;
      }

      &.active a {
        color: $point2-dark;
      }

      &:not(.active)::after {
        opacity: 0.2;
      }

      &:not(.active):hover a {
        color: rgba(#FFF, 0.75);
      }

      &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 0.2em;
        left: 0;
        bottom: 0;
        background: linear-gradient(to right, $point, $black);
      }
    }
  }
}



.twitter {
  position: relative;
  width: 80%;
  float: right;
  height: 100vh;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  a {
    position: relative;

    img {
      width: 100%;
      height: 100%;
    }
  }

  p {
    text-transform: uppercase;
    font-size: 1em;
    letter-spacing: 0.1em;
    color: $white;
    font-weight: bold;
    margin-top: 20px;
  }
}
