
.toast-header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding: .25rem .75rem;
  color: #6c757d;
  background-color: rgba(255, 255, 255, .85);
  background-clip: padding-box;
  border-bottom: 1px solid rgba(0, 0, 0, .05);
}

.toast-body {
  padding: .75rem;
}

.toast {
  position: relative;
  background: #90fffd;
  border: solid #f8f9fa;
  display: block;
  opacity: 1;
}
