/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "components/vars";
@import "components/sidebar";
@import "components/table";
@import "components/card";
@import "components/toast";

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: $white;
  margin: auto;
}

.container {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  margin-left: auto;
  margin-right: auto;
}

.center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.btn-info {
  color: aliceblue !important;
}

.imagem {
  height: 100%;
  width: 100%;
}

.img-full {
  margin-left: 4vh !important;
}

.breadcrumb {
  background: transparent;

  .breadcrumb-item {
    color: $point2-light;

    a {
      color: $point2-dark;
    }
  }
}
footer{
  margin-left: 20vh;
  p{
    color: $black !important;
    size: 12vh;
  }
}