<!--  <nav class="nav navbar navbar-dark flex-column flex-md-row bd-navbar">-->
<!--    <ul class="navbar-nav bd-navbar-nav flex-row">-->

<!--      <li class="nav-item">-->
<%#= link_to "Lista de Usuarios", usuarios_path %>

<!--      </li>-->
<!--      <li class="nav-item">-->
<%#= link_to "Lista de Franquias", franquias_path %>

<!--      </li>-->
<!--      <li class="nav-item">-->
<%#= link_to "Lista de Oficinas", oficinas_path %>
<!--      </li>-->
<!--    </ul>-->
<!--  </nav>-->


<div class="hexagon-menu clear">
  <div class="hexagon-item">
    <div class="hex-item">
      <div></div>
      <div></div>
      <div></div>
    </div>
    <div class="hex-item">
      <div></div>
      <div></div>
      <div></div>
    </div>

    <a href="<%= usuarios_path %>" class="hex-content">
                                            <span class="hex-content-inner">
                                                <span class="icon">
                                                    <i class="fa fa-user"></i>
                                                </span>
                                                <span class="title">Usuarios</span>
                                            </span>
      <svg viewBox="0 0 173.20508075688772 200" height="200" width="174" version="1.1" xmlns="http://www.w3.org/2000/svg">
        <path d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z" fill="#2F5275"></path>
      </svg>
    </a>
  </div>
  <div class="hexagon-item">
    <div class="hex-item">
      <div></div>
      <div></div>
      <div></div>
    </div>
    <div class="hex-item">
      <div></div>
      <div></div>
      <div></div>
    </div>

    <a href="<%= franquias_path %>" class="hex-content">
                                            <span class="hex-content-inner">
                                                <span class="icon">
                                                    <i class="fa fa-bank"></i>
                                                </span>
                                                <span class="title">Franquias</span>
                                            </span>
      <svg viewBox="0 0 173.20508075688772 200" height="200" width="174" xmlns="http://www.w3.org/2000/svg">
        <path d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z" fill="#2F5275"></path>
      </svg>
    </a>
  </div>
  <div class="hexagon-item">
    <div class="hex-item">
      <div></div>
      <div></div>
      <div></div>
    </div>
    <div class="hex-item">
      <div></div>
      <div></div>
      <div></div>
    </div>

    <a href="<%= oficinas_path %>" class="hex-content">
                                            <span class="hex-content-inner">
                                                <span class="icon">
                                                    <i class="fa fa-car"></i>
                                                </span>
                                                <span class="title">Oficinas</span>
                                            </span>
      <svg viewBox="0 0 173.20508075688772 200" height="200" width="174" version="1.1" xmlns="http://www.w3.org/2000/svg">
        <path d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z" fill="#2F5275"></path>
      </svg>
    </a>
  </div>

</div>