<nav class="nav navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar">
  <ul class="navbar-nav bd-navbar-nav flex-row">

    <li class="nav-item">
      <%= link_to "cadastrar", new_usuario_path, :class => "nav-link" %>

    </li>
    <li class="nav-item">
      <%= link_to "Acesso administrativo", usuarios_path, :class => "nav-link"  %>

    </li>
  </ul>
</nav>



